<div id="indexBanner" class="banner" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
    <div class="slide">
      <div class="overlay">
        <div class="overlay-text">
          <h1>PREMIUM SMARTPHONES<br /> <em>WITHOUT</em> <br />PREMIUM PRICES</h1>
          <a href="#" class="overlay-link">SHOP NOW</a>
        </div>
      </div>
      {{ 'slider1.jpg' | asset_url | img_tag: 'Slider Image 1', 'slider-image' }}
    </div>
</div>
